{% extends 'recipes/base.html' %}

{% block content %}

<style>
    body {
        background-image: url('/static/img/logout_background.jpg');
        background-size: cover;
        position: relative;
    }

    .logout-container {
        display: flex;
        height: 20vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-family: Arial, sans-serif;
        text-align: center;
    }

    .item {
        color: rgb(255, 255, 255);
        font-weight: normal;
        font-size: 1.2em;
    }
</style>

<div class="logout-container">
    <div class="item">
        <h1>You have been logged out successfully!</h1>

    </div>
</div>

{% endblock %}