{% extends 'recipes/base.html' %}

{% block content %}

<style>
    .container {
        display: flex;
        height: 50vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-family: "Roboto Mono", sans-serif;
        text-align: center;
    }

    .item {
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 1.5em;
    }
</style>

<div class="container">
    <div class="item">
        <h1>Bye from the Recipe App!</h1>
        <br />
        <br />
        Feel free to come back anytime.
    </div>
</div>

{% endblock %}