{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Recipe App</title>
</head>

<body>
    <header>
        <!-- Add your header content here -->
        <!-- Navigation bar -->
        <nav>
            <ul class="navbar">
                <li class="nav-item"><a href="{% url 'recipes:home' %}" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="{% url 'recipes:list' %}" class="nav-link">Browse Recipes</a></li>
                <!-- Modify the login button to include login/logout logic -->
                {% if user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'logout' %}?next={% url 'recipes:list' %}"
                        class="nav-link">Logout</a></li>
                {% else %}
                <li class="nav-item"><a href="{% url 'login' %}" class="login_btn">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
        <!-- Add your footer content here -->
        <p>&copy; 2024 Recipe App</p>
    </footer>
</body>

</html>