{% extends 'recipes/base.html' %}

{% block content %}

<style>
    body {
        background-image: url('/static/img/main_background.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
</style>

<ul class="recipe-list">
    {% for recipe in object_list %}
    <li class="recipe-item">
        <img src="{{ recipe.pic.url }}" alt="{{ recipe.name }}" class="recipe-img">
        <a href="{% url 'recipes:detail' recipe.pk %}" class="recipe-name">
            {{ recipe.name }}
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}