{% extends 'recipes/base.html' %}

{% block content %}


<div class="recipe-flex-container">
    <div class="recipe-center-div">
        <div class="grid-layout">
            {% for recipe in object_list %}
            <div class="recipes-container">
                <a href="{% url 'recipes:detail' recipe.pk %}" class="recipe-wrapper">
                    <img src="{{ recipe.pic.url }}" alt="{{ recipe.name }}" class="recipe-image">
                    <div class="recipe-main-holder">
                        <p class="recipe-link">{{ recipe.name }}</p>
                        <span class="recipe-description">{{ recipe.description|truncatechars:30 }}</span>
                    </div>
                </a>
                <div class="top-notch"></div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}