{% extends 'recipes/base.html' %}

{% block content %}
<h1 style="color: white;">Search Recipes</h1>
<form method="post" class="search-container">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_recipe_diff">Recipe Difficulty:</label>
        {{ form.recipe_diff }}
    </div>
    <button type="submit" class="btn">Search</button>
</form>

{% if recipe_df %}
<div class="container mt-4">

    <ul class="list-group">
        {% for recipe in qs %}
        <li class="list-group-item">
            <a href="{% url 'recipes:detail' pk=recipe.pk %}" class="search-link">{{ recipe.name }}</a>
            <br>
            <div><strong>Cooking Time:</strong> {{ recipe.cooking_time }} minutes</div>
            <br>
            <div><strong>Description:</strong> {{ recipe.description }}</div>
            <br>
            <div><strong>Ingredients:</strong></div>
            <div>{{ recipe.ingredients }}</div>
        </li>
        {% empty %}
        <p class="no-recipes">No recipes found.</p>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}