{% extends 'recipes/base.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-4 mb-4">Search Results</h1>

    {% if recipes %}
    <ul class="list-group">
        {% for recipe in recipes %}
        <li class="list-group-item">
            <a href="{{ recipe.get_absolute_url }}" class="search-link">{{ recipe.name }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="no-recipes">No recipes found.</p>
    {% endif %}

    <!-- Display the chart -->
    {% if chart %}
    <div class="chart-container">
        <img src="data:image/png;base64,{{ chart }}" alt="Chart">
    </div>
    {% endif %}
</div>
{% endblock %}